<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Login + new Map Pins</h4>
                    </div>
                    <div class="content">
                        *UPDATED* Adjusted login page to have legal and spacing and fix skinny Ulytic logo (hes been working out)<br>
                        *UPDATED* Slapped in the new pins that Pat gave me, yay!<br>
                        *UPDATED* Logging in now requires you to put in 'billy' and 'ulytic' for the username and password<br>
                        *IN PROGRESS* Working on transimations when moving between the login screen and the rest of the application<br>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> June 7th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Small Updates/Modifications</h4>
                        <p class="category small">Misc. Stuff Mostly and the Login Page</p>
                    </div>
                    <div class="content">
                        *UPDATED* Application Login looks pretty boogie at the moment, but now functions more like an actual login<br>
                        *UPDATED* Removed 'beta' designation over the the experiments tab<br>
                        *UPDATED* Changed Ulytic sidebar logo link to land on logout, which i promptly broke while change the way login works :D<br>
                        *UPDATED* Small changes to the way the quarterly graph shows its data<br>
                        *UPDATED* User owned pins now an odd blue color - will ask Pat for better pins<br>
                        *UPDATED* Subscribe to location pin modal text changes as per spec document<br>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> June 6th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Quarterly Timeline</h4>
                        <p class="category small">Vacation was good. Thanks for asking.</p>
                    </div>
                    <div class="content">
                        *UPDATED* Updated Timeline graph to behave more like a quarterly time period.<br>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> June 5th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">A different approach to time line chart data</h4>
                        <p class="category small">Vacation time baby!</p>
                    </div>
                    <div class="content">
                        *NOTE* Taking a vacation down at the lake between 5/31 and 6/4, there will not be any updates to the codebase between those dates.<br>
                        *TODO* Attempt to modify the normal Timeline graph into different quarters of the year<br>
                        *NEW* Hybrid bar graph that allows the user to scale the time line view. Starts in Q1 and and allows zooming/shifting to your hearts desire.<br>
                        *UPDATED* Added new hybrid graph on the map click.<br>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> May 30-31th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">TL:DR Changes based on feedback and modifications for the betterment of everyone!</h4>
                        <p class="category small">Small changes everywhere</p>
                    </div>
                    <div class="content">
                        *NEW* Sidebar now had a 33.3% chance to give you a random background image, one specified in the MVP Document<br>
                        *OPINION* Sidebar image with the sun is ugly :)<br />
                        *NEW* Charts can now have a Theme, current theme being tested is 'Maconrons', This will probably change or go back to default.<br>
                        *NEW* Added forgot password link to login form, has ZERO functionality<br>
                        *UPDATED* Map pin now shows second 'line' graph<br>
                        *UPDATED* Donut Chart now shows data with a smaller font size to avoid overlapping text issues.<br>
                        *UPDATED* Login Ulytic Logo is now a fixed size and will not scale up beyond its means<br />
                        *UPDATED* Rearranged Dashboard charts in the order specified by the MVP Document<br />
                        *REMOVED* Sub-text did not below in the design below graph titles<br />
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> May 26th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Echarts Modularity and Map Marker Functionality</h4>
                        <p class="category small">Map functionality</p>
                    </div>
                    <div class="content">
                        Progress made on figuring out the time line graph chart, a new closer to what we are looking for type chart is now displayed, but not quiet there yet.<br />
                        Modified the un-owned pin to be uniquely responsive to the location the user has clicked. Structured everything as a subscription example<br />
                        Updated modals to be uniquely responsive to the location the user has clicked indicated by the pin id and name location change<br />
                        Added 50% chance to see an intersection styled graph when clicking on pins on the map<br />
                        TODO: Make the login a different module such that it does not interact with the main application making it a standalone feature<br />
                        Added fancyness to the login wrapper <br />
                        Rewrote echarts service to be re-useable by other parts of the website, such as modals and pins <br />
                        Consolidated Bar charts and line charts into a single function capable of producing complex graphs. <br />
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> May 24-25th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">First Entry</h4>
                        <p class="category small">Small Changes</p>
                    </div>
                    <div class="content">
                        Added and error page. <br />
                        Added sidebar bottom legal <br />
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> May 19th, 2016
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>