<div class="content" ng-controller="EducationController as educationCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11">
                            <h3 style="margin-top: 10px;"><b>University of Missouri, Columbia MO</b> - Bachelor of Science in Information Technology</h3>
                            <p>Graduated: December 2013<br></p>
                            <ul>
                                <li style="list-style-type: square;">Motorcyclists of Mizzou (MOM) - President</li>
                                <li style="list-style-type: square;">Fraternity - Treasurer and "Dude, why can't I connect to wifi" IT Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>