<div class="content" ng-controller="ExperienceController as expCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3 style="margin-top: 10px;"><b>Ulytic Inc, Kansas City</b> - Chief Information Officer</h3>
                            <p>March 2013 - Present<br></p>
                            <ul>
                                <li style="list-style-type: square;">Ulytic analyzes traffic footage utilizing a variety of Computer Vision methods to generate reports for clients, either in real time or as a study summary.</li>
                                <li style="list-style-type: square;">At Ulytic, I oversaw the entirety of the business' software development. This included determining project requirements, designing architecture, setting up backend systems, developing the projects, testing the code, and deploying it to servers.</li>
                                <li style="list-style-type: square;">Additional responsibilities included:
                                    <ul>
                                        <li style="list-style-type: square;">Managed development costs and billing</li>
                                        <li style="list-style-type: square;">Maintaining development tracking boards</li>
                                        <li style="list-style-type: square;">Communicating all aspects of development to the other company founders</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3 style="margin-top: 10px;"><b>Veterans United Home Loans, Columbia MO</b> - Software Engineer</h3>
                            <p>May 2013 - May 2016<br></p>
                            <ul>
                                <li style="list-style-type: square;">Veterans United specializes in helping veterans secure the VA Home Loan</li>
                                <li style="list-style-type: square;">During my time at VU, I worked on a variety of internal/customer facing websites and backend systems that helped expedite the loan process.</li>
                                <li style="list-style-type: square;">Additional responsibilities included:
                                    <ul>
                                        <li style="list-style-type: square;">Interviewing and selecting the intern program participants</li>
                                        <li style="list-style-type: square;">Handling software bug reporting and resolution (6 mos)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3 style="margin-top: 10px;"><b>University of Missouri Division of IT, Columbia MO</b> - Support Specialist</h3>
                            <p>March 2012 - May 2013<br></p>
                            <ul>
                                <li style="list-style-type: square;">The department I worked for maintained all computing sites on the University of Missouri campus.</li>
                                <li style="list-style-type: square;">Promoted from Consultant to Support Specialist in August of 2012</li>
                                <li style="list-style-type: square;">Responsibilities included:
                                    <ul>
                                        <li style="list-style-type: square;">Monitoring and maintaining all unstaffed sites</li>
                                        <li style="list-style-type: square;">Supervising site Consultants</li>
                                        <li style="list-style-type: square;">Performing limited troubleshooting over the phone</li>
                                        <li style="list-style-type: square;">Performing intermediate troubleshooting at sites</li>
                                        <li style="list-style-type: square;">Opening up and closing down computing sites</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br><br><br><br><br><br></div>
</div>