<div class="content" ng-controller="HomeController as homeCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to Gabe's Interactive Portfolio!</h1>
            </div>
        </div>
        <div class="row" ng-if="!sessionCtrl.authenticated">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="card" style="background-color: #1F77D0;">
                    <div class="row" style="margin-left: 15px;margin-right: 15px;background-color: #fff;">
                        <p style="margin: 0px;">
                            If you received a Username and Password, <a href="#" style="cursor: pointer;" ng-click="sessionCtrl.login()">Log In</a> to gain full access to the site.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="sessionCtrl.authenticated">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>This site is a Single Page Application built using AngularJS running on a Raspberry Pi in my Living Room.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 text-center">
                                    <h2>Contact</h2>
                                    <span style="font-size: 16px;">
                                        <br>
                                        <b>Email: </b> {{$storage.homePage.contact.email}}
                                        <br><br>
                                        <b>Phone: </b> {{$storage.homePage.contact.phone}}
                                        <br><br>
                                        <b>Website: </b> <a href="{{$storage.homePage.contact.website}}" style="cursor: pointer;">{{$storage.homePage.contact.website}}</a>
                                        <br><br>
                                        <b>LinkedIn: </b> <a href="{{$storage.homePage.contact.linkedIn}}" style="cursor: pointer;">{{$storage.homePage.contact.linkedIn}}</a>
                                    </span>
                                </div>
                                <div class="col-md-5 text-center">
                                    <h2>Resume</h2>
                                    <label class="btn btn-default text-center" ng-click="downloadFile('GabeOwensResume.pdf')">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x=    "0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z"/>
                                            <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z"/>
                                            <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 "/>
                                            <path style="fill:#84BD5A;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
                                                V416z"/>
                                            <g>
                                                <path style="fill:#FFFFFF;" d="M132.64,384c-8.064,0-11.264-7.792-6.656-13.296l45.552-60.512h-37.76
                                                    c-11.12,0-10.224-15.712,0-15.712h51.568c9.712,0,12.528,9.184,5.632,16.624l-43.632,56.656h41.584
                                                    c10.24,0,11.52,16.256-1.008,16.256h-55.28V384z"/>
                                                <path style="fill:#FFFFFF;" d="M212.048,303.152c0-10.496,16.896-10.88,16.896,0v73.04c0,10.608-16.896,10.88-16.896,0V303.152z"/>
                                                <path style="fill:#FFFFFF;" d="M251.616,303.152c0-4.224,3.328-8.832,8.704-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
                                                    c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.704-3.184-8.704-8.816
                                                    L251.616,303.152L251.616,303.152z M268.496,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504
                                                    c0-8.944-6.784-16.368-15.36-16.368H268.496z"/>
                                            </g>
                                            <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z"/>
                                        </svg>
                                        <br>
                                        <b>GabeOwens_Resume.pdf</b>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10 text-center">
                                    <h2>References</h2>
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="reference in $storage.homePage.references">
                                            <div class="well">
                                                <b>Name: </b>{{reference.name}}<br>
                                                <b>Job Title: </b>{{reference.job}}<br>
                                                <b>Phone: </b>{{reference.phone}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    
                                    <div class="row text-left">
                                        <div class="col-md-4 text-center">
                                            <div layout="column" layout-align="center center">
                                                <br><br>
                                                <img ng-src="assets/img/profile/profile_pic.jpg" style="height:240px;width:240px;border-radius:100%"/>
                                            </div>
                                        </div>
                                        <div class="col-md-8" style="padding-right: 45px;">
                                            <h2 class="text-center">About Me</h2>
                                            <p style="text-indent: 30px;">{{$storage.homePage.aboutMe.intro}}</p>
                                            <p style="text-indent: 30px;">{{$storage.homePage.aboutMe.intern_1}}</p>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row text-left">
                                        <div class="col-md-4 text-center" style="padding-top: 150px;">
                                            <div layout="column" layout-align="center center">
                                                <img ng-src="assets/img/profile/Master_of_IT.jpg" style="height:240px;width:240px;"/>
                                            </div>
                                        </div>
                                        <div class="col-md-8" style="padding-right: 45px;">
                                            <p style="text-indent: 30px;">{{$storage.homePage.aboutMe.work_1}}</p>
                                            <p style="text-indent: 30px;">{{$storage.homePage.aboutMe.work_2}}</p>
                                            <p style="text-indent: 30px;">{{$storage.homePage.aboutMe.wrap_up}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 text-center">
                                        <h2 style="margin-bottom: 0px;">Project Examples</h2>
                                        <div class="text-center" style="color: #a9a9a9;">Click one to View Details</div>
                                        <div class="row">
                                            <div class="col-md-6" ng-repeat="project in $storage.projects" style="cursor: pointer;">
                                                <div class="well text-center" ng-click="showProject(project.id, project.title)">
                                                    <h4>{{project.title}}</h4>
                                                    <p>{{project.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br><br><br><br><br><br></div>
</div>