<div class="content" ng-controller="HomeController as homeCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to Gabe's Interactive Portfolio!</h1>
            </div>
        </div>
        <div class="row" ng-if="!sessionCtrl.authenticated">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="card" style="background-color: #1F77D0;">
                    <div class="row" style="margin-left: 15px;margin-right: 15px;background-color: #fff;">
                        <p style="margin: 0px;">
                            If you received a Username and Password, <a href="#" style="cursor: pointer;" ng-click="sessionCtrl.login()">Log In</a> to gain full access to the site.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="sessionCtrl.authenticated">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>This site is a Single Page Application built using AngularJS running on a Raspberry Pi in my Living Room.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2>Contact</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <b>Email: </b> {{$storage.contact.email}}
                                            <br>
                                            <b>Website: </b> <a href="{{$storage.contact.website}}" style="cursor: pointer;">{{$storage.contact.website}}</a>
                                        </div>
                                        <div class="col-md-6">
                                            <b>Phone: </b> {{$storage.contact.phone}}
                                            <br>
                                            <b>LinkedIn: </b> <a href="{{$storage.contact.linkedIn}}" style="cursor: pointer;">{{$storage.contact.linkedIn}}</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10 text-center">
                                    <h2>References</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-1 col-md-10 well">
                                                    <b>Name: </b>{{$storage.references.ref_1.name}}<br>
                                                    <b>Job Title: </b>{{$storage.references.ref_1.job}}<br>
                                                    <b>Phone: </b>{{$storage.references.ref_1.phone}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-offset-1 col-md-10 well">
                                                    <b>Name: </b>{{$storage.references.ref_2.name}}<br>
                                                    <b>Job Title: </b>{{$storage.references.ref_2.job}}<br>
                                                    <b>Phone: </b>{{$storage.references.ref_2.phone}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-1 col-md-10 well">
                                                    <b>Name: </b>{{$storage.references.ref_3.name}}<br>
                                                    <b>Job Title: </b>{{$storage.references.ref_3.job}}<br>
                                                    <b>Phone: </b>{{$storage.references.ref_3.phone}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-offset-1 col-md-10 well">
                                                    <b>Name: </b>{{$storage.references.ref_4.name}}<br>
                                                    <b>Job Title: </b>{{$storage.references.ref_4.job}}<br>
                                                    <b>Phone: </b>{{$storage.references.ref_4.phone}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2>About Me</h2>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-src="assets/img/profile/profile_pic.jpg" style="height:240px;width:240px;border-radius:100%"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{$storage.aboutMe.intro}}</p>
                                            <p>{{$storage.aboutMe.intern_1}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="padding-top: 50px;">
                                            <img ng-src="assets/img/profile/Master_of_IT.jpg" style="height:240px;width:240px;"/>
                                        </div>
                                        <div class="col-md-8">
                                            <p>{{$storage.aboutMe.work_1}}</p>
                                            <p>{{$storage.aboutMe.work_2}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="card" style="padding-bottom: 20px;">
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br><br><br><br><br><br></div>
</div>