<nav class="navbar navbar-default navbar-fixed" style="padding-left: 260px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target="#navigation-example-2" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">{{topNavCtrl.navigationTitle}}</p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="sessionCtrl.login()">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
