<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 15px;">
                    <div class="header">
                        <h4 class="title" style="text-align: center;">This page is not available. But lucky for you Gabe is!</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content" style="text-align:center;">
                        <img ng-src="assets/gabe.jpg" style="height:240px;width:240px;border-radius:100%"/>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> How did you even get here?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>